/* Fonts
----------------------------------------------- */
/*!
 * SSF Ferry template
 * Designed by KH Tan, kh@atninecreation.com
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Fonts
----------------------------------------------- */
@font-face {
  font-family: 'DroidSansRegular';
  src: url('../font/DroidSans-webfont.eot');
  src: url('../font/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), url('../font/DroidSans-webfont.woff') format('woff'), url('../font/DroidSans-webfont.ttf') format('truetype'), url('../font/DroidSans-webfont.svg#DroidSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* classes
----------------------------------------------- */
.textShadowWhite {
  text-shadow: 0 1px #fff;
}
.textShadowDark {
  text-shadow: 0 1px 1px #777;
}
.backgroundTransparent {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
}
.rope,
.rope1 {
  background: url(../images/rope.png) repeat-x 0 0;
  height: 7px;
  margin: 0 0 5px;
}
.rope1 {
  height: 35px;
  background-position: 0 25px;
}
.ropeGrey {
  background: url(../images/rope-grey.png) repeat-x 0 0;
  height: 7px;
  margin: 0 0 5px;
}
.dashedLine {
  height: 10px;
  border-top: 1px dashed #ccc;
  margin-top: 5px;
}
.horizontalLine {
  border-bottom: 1px solid #2067a6;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}
.textJustify {
  text-align: justify;
}
.red {
  color: #dc0318;
}
img.pull-right {
  margin-left: 10px;
}
.bulletAnnounce li {
  background: url(../images/bullet-announce.png) no-repeat 0 1px;
  margin: 0 0 6px 10px;
  padding: 0 0 0 20px;
}
.bulletArrowRed li {
  background: url(../images/bullet-redArrow.png) no-repeat 0 2px;
  margin: 0 0 9px 10px;
  padding: 0 0 0 20px;
}
.marginTop15 {
  margin-top: 15px;
}
.icon-address,
.icon-telephone,
.icon-fax,
.icon-website,
.icon-email {
  background: url(../images/icons-contact.png) no-repeat 0 0;
  width: 20px;
  height: 19px;
}
.icon-address {
  background-position: -24px 0;
}
.icon-telephone {
  background-position: 0 -24px;
}
.icon-fax {
  background-position: -24px -24px;
}
.icon-email {
  background-position: -46px 0;
}
.icon-question,
.icon-answer {
  width: 27px;
  height: 27px;
  background: url(../images/icon-faq.png) no-repeat 0 0;
}
.icon-answer {
  background-position: -29px 0;
}
.imgLeft {
  padding-right: 25px;
  float: left;
}
.smallRedNum,
.smallPurpleNum {
  background: red;
  text-align: center;
  font: 10px Arial, sans-serif;
  color: #fff;
  margin: 0 5px 0 0;
  width: 16px;
  max-width: 16px;
}
.smallPurpleNum {
  background: #b24c6e;
  padding: 1px 0;
  -webkit-border-radius: 800px;
  -moz-border-radius: 800px;
  border-radius: 800px;
}
h1,
h2 {
  line-height: 30px;
}
h1,
h2,
h3 {
  text-shadow: 0 2px 1px #fff;
}
h4 {
  font-size: 18px;
  color: #145196;
}
h4,
h5 {
  text-transform: uppercase;
  text-align: left;
  text-shadow: 0 1px #fff;
  font-weight: bold;
  letter-spacing: 1px;
}
h3,
h5 {
  color: #dc0318;
  text-transform: uppercase;
  padding: 0;
}
ol.indent li {
  margin: 0 0 10px 200px;
}
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapperContent a,
.wrapperContent a:hover,
p {
  text-shadow: 0 1px #fff;
}
body {
  background: #f2f7fa url(../images/bg-sea.png) repeat-x 0 0;
}
#container1 {
  background: transparent url(../images/bg-sea-full.png) repeat-x -30px 0;
}
#topmenu {
  margin-top: 45px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  box-shadow: 0 1px 3px #888888;
  position: relative;
}
#topmenu .navbar {
  margin-bottom: 0;
}
#topmenu .navbar-inner {
  border-width: 5px;
  padding-right: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#topmenu .brand {
  min-width: 220px;
}
#topmenu .dropdown-menu {
  text-transform: none;
}
#logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: -31px 0 0 0px;
}
#rightAd {
  margin-top: 45px;
  padding: 5px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  box-shadow: 0 1px 3px #888888;
}
#leftAd {
  margin: 0 0 20px;
}
#leftAd img {
  -webkit-box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  box-shadow: 0 1px 3px #888888;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.wrapper {
  background: #fff;
  padding: 7px;
  margin: 0 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  box-shadow: 0 1px 3px #888888;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
}
.innerWrapper {
  padding: 0 10px 5px;
}
.wrapperContent {
  background: #fff;
  padding: 10px 25px;
  margin: 0 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #f4f8fb;
  background-image: -moz-linear-gradient(top, #f5f9fb, #f2f7fa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f9fb), to(#f2f7fa));
  background-image: -webkit-linear-gradient(top, #f5f9fb, #f2f7fa);
  background-image: -o-linear-gradient(top, #f5f9fb, #f2f7fa);
  background-image: linear-gradient(to bottom, #f5f9fb, #f2f7fa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f9fb', endColorstr='#fff2f7fa', GradientType=0);
  /*background-color:rgb(248, 252, 254); background-color:rgba(248, 252, 254, 0.8); */
}
.wrapperContent .dashedLine {
  margin: 20px 0;
}
.wrapper h5 {
  line-height: 0;
  margin: 0 0 15px;
}
.wrapperContent .rope {
  margin: 13px 0 10px;
}
#leftCol h4 {
  text-align: center;
}
#bookNow {
  background: #daeffe url(../images/bgnoise-blue.png) repeat 0 0;
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 6px #aaaaaa;
  -moz-box-shadow: inset 0 1px 6px #aaaaaa;
  box-shadow: inset 0 1px 6px #aaaaaa;
}
#bookNow h4 {
  text-align: left;
  background: url(../images/icon-ferry.png) no-repeat 100% 0;
  line-height: 30px;
  margin: 0 0 0 10px;
}
#slider img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#bookNow fieldset {
  width: inherit;
}
.leftWidth1 .controls,
.leftWidth2 .controls,
.leftWidth3 .controls {
  margin-left: 0;
}
.leftWidth1 label.control-label {
  width: 30px;
  margin-right: 10px;
}
.leftWidth2 label.control-label {
  width: 90px;
  margin-right: 28px;
}
.leftWidth3 label.control-label {
  width: 120px;
  margin-right: 45px;
}
#bookNow form {
  margin: 0;
}
#bookNow .form-actions {
  background: transparent;
  border-top: 0;
  padding: 0;
  text-align: center;
  margin: 10px 0 0;
}
#bookNow .date {
  display: block;
}
#bookNow span {
  min-height: 0px;
}
#fb,
#twitter,
#youtube {
  width: 47px;
  height: 53px;
  margin: 0 0 0 8px;
  background: url(../images/icons-social-media.png) no-repeat 0 0;
}
#twitter {
  background-position: -54px 0;
}
#youtube {
  background-position: -108px 0;
}
#fb:hover {
  background-position: 0 1px;
}
#twitter:hover {
  background-position: -54px 1px;
}
#youtube:hover {
  background-position: -108px 1px;
}
.fb-like {
  width: 240px;
}
.boxWrap {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  box-shadow: 0 1px 3px #888888;
  background: #fff;
  margin: 0 0 20px;
}
.boxWrap img {
  background: url(../images/shadow-1.png) no-repeat 50% 100%;
  padding: 0 0 20px;
}
.boxWrap div {
  padding: 15px;
  font-size: 12px;
}
.boxWrap .dashedLine {
  padding: 0;
  margin: 0;
  clear: both;
}
.boxWrap .title span {
  color: #555555;
  text-transform: none;
  font-weight: normal;
  font-size: 11px;
}
.boxWrap a:hover .title {
  background-color: #ccc;
}
.boxWrap table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 3px;
}
.boxWrap td {
  vertical-align: top;
  line-height: 17px;
  border-bottom: 1px dotted #ddd;
}
.boxWrap td.gray {
  color: #555555;
}
.boxWrap td.title {
  color: #dc0318;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
.boxWrap img.pull-left {
  margin-right: 15px;
}
.icon-ferry {
  width: 100%;
  height: 50px;
  background: #eeeeee url(../images/icon-ferry.png) no-repeat 10px 10px;
}
.icon-ferry span {
  margin: 0 0 0 50px;
}
.icon-ferry h3 {
  margin: 0;
}
.icon-package {
  width: 100%;
  min-height: 70px;
  background: #eeeeee url(../images/icon-luggage.png) no-repeat 10px 15px;
}
.icon-package h3 {
  margin: 0 0 0 50px;
}
.halfWidth {
  width: 260px;
  float: left;
  margin: 0 15px 20px 0;
}
.dashedBox {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px dashed #049cdb;
}
#place {
  padding-top: 0;
}
#place h3 {
  font-size: 13px;
  margin: 0 0 10px;
}
#activity {
  padding: 0;
  width: 45%;
  margin: 0 20px 20px 0;
  float: left;
}
#activity .title {
  background: #eee;
  text-align: center;
  margin: 0;
  padding: 2px;
}
#activity .title h3 {
  font-size: 14px;
  line-height: 14px;
}
#activity div {
  padding: 15px;
  text-align: center;
}
#activity p {
  margin: 0;
}
table#legend {
  float: left;
  width: 45%;
  font-size: 12px;
  margin: 0 20px 20px 0;
}
footer {
  background: #f5f5f5 url(../images/bgnoise.png) 0 0;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 0px 6px #aaaaaa;
  -moz-box-shadow: 0 0px 6px #aaaaaa;
  box-shadow: 0 0px 6px #aaaaaa;
  padding: 15px 0 25px;
}
footer li {
  margin: 0 0 5px;
}
footer a {
  color: #145196;
}
footer a:hover {
  text-decoration: none;
}
footer p {
  color: #999999;
}
footer h4 {
  margin: 10px 0 5px 36px;
}
footer h5 {
  padding: 0;
  color: #555555;
  text-transform: none;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}
.viewMore,
.icon-phone,
#iconAnnounce,
#iconCalendar,
#iconFerry,
#iconLady,
#iconAnchor,
#iconPhone {
  background: url(../images/icons.png) no-repeat 0 0;
}
.viewMore {
  color: #0090ff;
  background-position: 0 -38px;
  padding: 2px 0 2px 18px;
}
.viewMore:hover {
  background-position: 0 -58px;
}
.icon-phone {
  background-position: 0 -80px;
  padding: 2px 8px 2px 0;
}
#iconFerry,
#iconLady,
#iconAnchor,
#iconPhone {
  height: 34px;
  padding: 0 0 0 35px;
  float: left;
}
#iconLady {
  background-position: -46px 0;
}
#iconAnchor {
  background-position: -90px 0;
}
#iconPhone {
  background-position: -130px 0;
  margin: -10px 5px 0 0;
}
#iconAnnounce,
#iconCalendar {
  padding: 0 0 42px;
  float: left;
  width: 45px;
  height: 40px;
  margin: 0 15px 10px 0;
}
#iconAnnounce {
  background-position: 0 -100px;
}
#iconCalendar {
  background-position: 10px -143px;
}
#contactUs {
  border-left: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
  padding: 0 20px;
}
#copyright p {
  font: 10px/12px Arial, sans-serif;
  margin: 0px 0 2px 23px;
}
.container-fluid {
  max-width: 1140px;
  margin: 0 auto;
}
#route .accordion-group {
  border-color: #fff;
  -webkit-box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  box-shadow: 0 1px 3px #888888;
  margin-bottom: 20px;
}
#route h4 {
  margin: 0;
  font-size: 14px;
}
#route a:hover h4 {
  color: #dc0318;
}
#route td {
  vertical-align: top;
  padding: 2px 5px;
}
#reserve {
  padding: 10px 50px 0;
}
#reserve ul {
  list-style: none;
}
#reserve img {
  float: left;
  margin: 0 20px 10px 0;
  -webkit-box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  box-shadow: 0 1px 3px #888888;
  padding: 0;
}
#schedule {
  padding: 10px 20px 20px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  -webkit-box-shadow: inset 0 0 5px #cccccc;
  -moz-box-shadow: inset 0 0 5px #cccccc;
  box-shadow: inset 0 0 5px #cccccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#schedule h3 {
  text-align: center;
  line-height: 10px;
}
#schedule .table {
  margin-bottom: 5px;
}
#schedule .table-bordered {
  border-collapse: collapse;
}
#schedule td,
#schedule th {
  text-align: center;
  padding: 2px;
}
#schedule th span {
  font-weight: normal;
}
#schedule div p {
  margin: 0;
}
#schedule div span {
  margin-right: 20px;
}
#schedule h3 a {
  color: #dc0318;
  text-decoration: none;
}
#contactWrap table {
  border-collapse: separate;
  border-spacing: 3px 3px;
}
#contactWrap td {
  vertical-align: top;
}
#contactWrap h4 {
  font-size: 16px;
  text-transform: none;
  margin-bottom: 0;
  letter-spacing: 0;
}
#contactWrap h4 span {
  font-size: 13px;
  font-weight: normal;
}
@media (min-width: 768px) and (max-width: 979px) {
  #mainContent {
    float: none;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (min-width: 979px) and (max-width: 1130px) {
  .hide1 {
    display: none;
  }
  #logo {
    margin-right: 20px;
  }
  #bookNow .date {
    display: inline;
  }
  .form-horizontal .control-label {
    text-align: left;
    padding-top: 0;
  }
  .leftWidth1 label.control-label,
  .leftWidth2 label.control-label,
  .leftWidth3 label.control-label {
    margin-right: 5px;
    padding-top: 5px;
  }
}
@media (min-width: 767px) and (max-width: 945px) {
  #bookNow .date {
    display: inline;
  }
  .form-horizontal .control-label {
    text-align: left;
    padding-top: 0;
  }
  .leftWidth1 label.control-label,
  .leftWidth2 label.control-label,
  .leftWidth3 label.control-label {
    margin-right: 5px;
    padding-top: 5px;
  }
}
@media (max-width: 979px) {
  #topmenu [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #topmenu .btn-navbar {
    margin-right: 20px;
  }
  .spaceControl {
    margin-top: 20px;
  }
  .nav-collapse a:hover,
  .nav-collapse a:focus {
    -webkit-box-shadow: inset 0 0 10px #124f83;
    -moz-box-shadow: inset 0 0 10px #124f83;
    box-shadow: inset 0 0 10px #124f83;
  }
  .nav-collapse .dropdown-menu li > a:hover,
  .nav-collapse .dropdown-menu li > a:focus {
    background: #3f94e1;
  }
}
@media (max-width: 767px) {
  #container1 {
    background-image: none;
  }
  footer {
    padding: 0 20px;
  }
  .leftWidth3 label.control-label {
    float: left;
    margin-right: 20px;
  }
  .leftWidth3 [class*="span"] {
    width: 70px;
  }
  #leftBox h5 {
    text-align: center;
  }
  .rope1 {
    background-position: 0 0;
    height: auto;
  }
  #fb,
  #twitter,
  #youtube {
    float: left;
  }
  #iconAnnounce h4,
  #iconCalendar h4 {
    padding-top: 15px;
  }
  footer h4 {
    padding-top: 10px;
    margin-top: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
