    <div class="row-fluid">
        <div class="span4" id="leftCol">
          <div class="wrapper">
            <div id="bookNow">
              <h4>Book Ferry Now</h4>
              <div class="rope"></div>
              <form class="form-horizontal"><fieldset>
                 <div class="control-group">
                   <label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Return Trip</label>
                   <label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">One Way</label>
                </div>
                <div class="control-group leftWidth1"><label class="control-label" for="selectFrom">From</label>
                  <div class="controls"><select class="span10 id="selectFrom"> <option>- Origin -</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> </select></div>
                </div>
                <div class="control-group leftWidth1"><label class="control-label" for="selectTo">To</label>
                  <div class="controls"><select class="span10 id="selectTo"> <option>- Destination -</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> </select></div>
                </div>  
                <div class="control-group leftWidth2"><label class="control-label" for="selectFrom">Departure Date</label>
                  <div class="controls"> <div class="input-append date" id="date-start" data-date="11-25-2012" data-date-format="dd-mm-yyyy">
                  <input class="span5" size="16" type="text" value="11-25-2012" readonly>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                  </div>
                  </div>
                </div>
                <div class="control-group leftWidth2"><label class="control-label" for="selectFrom">Return Date</label>
                  <div class="controls"> <div class="input-append date" id="date-end" data-date="11-25-2012" data-date-format="dd-mm-yyyy">
                  <input class="span5" size="16" type="text" value="11-25-2012" readonly>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                  </div>
                  </div>
                </div>
                <div class="control-group leftWidth3"><label class="control-label" for="selectAdult">Adults (above 12 years)</label>
                  <div class="controls"><select class="span4 id="selectAdult"> <option>0</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> </select></div>
                </div>
                <div class="control-group leftWidth3"><label class="control-label" for="selectAdult">Child (3-12 years)</label>
                  <div class="controls"><select class="span4 id="selectAdult"> <option>0</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> </select></div>
                </div>
               <!--  <div class="control-group leftWidth3"><label class="control-label" for="selectAdult">Infants (Below 3 years)</label>
                  <div class="controls"><select class="span4" id="selectAdult"> <option>0</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> </select></div>
                </div> -->
                <div class="form-actions"><button type="submit" class="btn btn-primary span6 offset3">Search <i class="icon-search icon-white"></i></button></div>
              </fieldset></form>
            </div>
          </div><!-- wrapper -->
          <div class="wrapper">
            <div class="innerWrapper">
              <div class="row-fluid">
              <div class="span2 rope1"></div>
              <div class="span8">
                <h4>Stay Connected</h4>
                <h5>with us all time!</h5>
              </div>
              <div class="span2 rope1"></div>
              </div>
              <div class="fb-like" data-href="https://www.facebook.com/pages/Langkawi-ferry-services-sdn-bhd/419442944778142" data-send="false" data-width="240" data-show-faces="true"></div>
            
              <div class="dashedLine"></div>
              <div class="row-fluid">
              <div class="span4">Follow us on</div>
              <a class="span2" id="fb" href="#" title="Visit our Facebook page"></a>
              <a class="span2" id="twitter" href="#" title="Visit our Twitter page"></a>
              <a class="span2" id="youtube" href="#" title="Visit our YouTube channel"></a>
              </div>
            </div>
          </div><!-- .wrapper -->
          <div class="wrapper">
            <div class="innerWrapper">
              <div class="row-fluid">
              <div class="span2 rope1"></div>
              <div class="span8">
                <h4>Register Now</h4>
                <h5>For the Best Perks!</h5>
              </div>
              <div class="span2 rope1"></div>
              </div>      
              <p>Be a member and receive our newsletters, making you the first to know about our latest low fares and other fantastic offers!</p>
              <div class="pagination-centered">
              <button class="btn btn-primary btn-small" type="button">Sign Up Now!</button>
              <div class="dashedLine marginTop15"></div>
              <p>Already a member? <a class="btn-link">Login</a> here.</p>
              </div>
            </div>
          </div><!-- .wrapper -->
          <div id="leftAd"><a href="#"><img src="/images/special-promotion.png" alt="Special Promotion"/></a></div>
        </div><!-- .span4 -->
        <div class="span8">
          <div class="wrapper">
            <div id="slider">
              <a class="shadow" href="#" title="Book Online Now"><img src="/images/banner-book-ferry-ticket-now.png" /></a>
            </div>
          </div>
          <div class="wrapperContent">
            <div class="row-fluid">
              <div class="span6">
              <div id="iconAnnounce"></div><h4>What's New</h4>
              <div class="clearfix rope"></div>
              <ul class="unstyled bulletAnnounce">
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting.</li>
                <li>Lorem Ipsum has been the industry's standard dummy text ever since.</li>
                <li>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                <li>It has survived not only five centuries, but also the leap into electronic.</li>
              </ul>
              <div class="pagination-right"><a class="viewMore" href="#">View more</a></div>
              </div>
              <div class="span6">
                <div id="iconCalendar"></div><h4>Route & Schedule</h4>
              <div class="clearfix rope"></div>
              <ul class="unstyled bulletArrowRed">
                <li>Langkawi - Kuala Perlis</li>
                <li>Langkawi - Kuala Kedah</li>
                <li>Langkawi - Penang</li>
                <li>Langkawi - Satun</li>
                <li>Penang - Medan </li>
                <li>Pulau Tioman - Tanjung Gemok</li>
                <li>Tanjung Gemok - Mersing </li>
              </ul>
              <div class="pagination-right"><a class="viewMore" href="#">View more</a></div>
              </div>
            </div>
            <div class="dashedLine"></div>
            <div id="homeFerries">
              <img class="pull-right" src="/images/sff-ferries.png" alt="ferries"/>
              <h2>Get To Know</h2>
              <h3>Our wide range of Ferries</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
            </div>
            <div><a class="viewMore" href="#">Read more</a></div>
            <div class="dashedLine"></div>
          </div>
  
        </div><!-- .span8 -->
      </div><!-- .row-fluid -->