<div class="control-group">
	<label class="control-label" for="inputAmount">Amount Tender</label>
	<div class="controls">
       <input type="text" placeholder="MYR 0.00" name="order[amount_tender]" id="inputAmount">
     </div>
     Balance <br/>
     <span class="input-large uneditable-input" id="balance"></span>
  </div>
  <div class="control-group">
	<label class="control-label" for="inputRemark">Remark</label>
	<div class="controls">
      <textarea rows="3" name="order[remark]" id="inputRemark"></textarea>
        </div>
  </div>
