<%# if @order.buyer_is_agent? && @net_total > @order.buyer_credit %>

<% if @result_payment[:buyer_type_id].to_i == BuyerType::AGENT && @net_total > @result_payment[:buyer_credit] %>
	<div class="alert">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <h4>Warning!</h4>
	   Agent credit is not enough !

		<!-- Button to trigger modal -->
		<!--a href="#byPass" class="btn btn-primary" data-toggle="modal">Bypass</a-->
		<div id="byPass_button" class="btn btn-primary">ByPass</div>
	</div>
<% end %>

<dl class="dl-horizontal">
  <dt><%#= @order.buyer_title rescue '-' %><%= @result_payment[:buyer_title] rescue '-' %></dt>
  <dd><%#= @order.buyer_name rescue '-' %><%= @result_payment[:buyer_name] rescue '-' %></dd>

  <dt>Current Credit</dt>
  <dd><%#= @order.buyer_credit rescue '-' %><%= number_with_precision(@result_payment[:buyer_credit], :precision => 2) rescue '-' %></dd>
</dl>