 <ul class="nav pull-left bar-root">
    <li class="divider-vertical"></li>
    <!-- <li><a href="chat.html" ><i class="icon-comment icon-white"></i><span class="label label-important">6</span></a> </li> -->
    <li class="dropdown"><a href="#" data-toggle="dropdown" > <i class="icon-envelope icon-white"></i><span class="label label-important">5 new</span></a> 
        <ul class="dropdown-menu">
            <li><a href="inbox.html"><img src="/images/small/thumb1.png" alt="" /> Subject : Project <p class='help-block'><small>From: ab.alhyane@gmail.com</small></p><span class="label">23/09/2012</span></a></li>
            <li class="divider"></li>
            <li><a href="inbox.html"><img src="/images/small/thumb2.png" alt="" /> Subject : Film <p class='help-block'><small>From: ab.alhyane@gmail.com</small></p><span class="label">21/04/2012</span> </a></li>
            <li class="divider"></li>
            <li><a href="inbox.html"><img src="/images/small/thumb3.png" alt="" /> Subject : Meeting <p class='help-block'><small>From: ab.alhyane@gmail.com</small></p><span class="label">20/02/2012</span></a></li>
            <li class="divider"></li>
            <li><a href="inbox.html"><img src="/images/small/thumb4.png" alt="" /> Subject : Tasks <p class='help-block'><small>From: ab.alhyane@gmail.com</small></p><span class="label">19/01/2012</span></a></li>
            <li class="divider"></li>
            <li class="active"><a href="inbox.html"> Show All </a></li>
        </ul>
    </li>
    <!-- <li class="dropdown"><a href="#" data-toggle="dropdown" > <i class="icon-refresh icon-white"></i><span class="label label-info">3 Updates</span></a> 
        <ul class="dropdown-menu">
            <li><a href="#"> Theme </a></li>
            <li><a href="#"> Components</a></li>
            <li><a href="#"> Plugins</a></li>
            <li class="divider"></li>
            <li class="active"><a href="#"> Show All </a></li>
        </ul>
    </li> -->
</ul>