 <li><a href="/dashboard/index"><i class="icon-th-large icon-black"></i><span> Dashboard</span></a></li>
 <li><a href="/orders/new" class="current"><i class="icon-th-large icon-white"></i><span> Ordering</span></a></li>
 <li><a href="#" class="current"><i class="icon-th-large icon-white"></i><span> Reservation</span></a></li>
    <!-- <li><a href="widget.html"><i class="icon-th"></i><span> Widgets</span></a></li>
    <li><a href="tables.html"><i class="icon-list-alt"></i><span> Tables</span></a></li>
    <li><a href="elements.html"><i class="icon-tasks"></i><span> Elements</span></a></li>
    <li><a href="media.html"><i class="icon-picture"></i><span> Media</span></a></li>
    <li><a href="forms.html"><i class="icon-align-center"></i><span> Forms</span></a></li>
    <li><a href="grid.html"><i class="icon-indent-left"></i><span> Grid</span></a></li>
    <li><a href="buttons.html"><i class="icon-gift"></i><span> Buttons & Icons</span></a></li>
    <li><a href="noty.html"><i class="icon-comment"></i><span> Notification</span></a></li>
    <li><a href="callendar.html"><i class="icon-calendar"></i><span> Callendar </span></a></li>
    <li><a href="bootstrap-ui.html"><i class="icon-ok"></i><span> Bootstrap ui </span></a></li>
    <li><a href="chat.html"><i class="icon-bullhorn"></i><span> Chat </span></a></li>
    <li><a href="inbox.html"><i class="icon-envelope"></i><span> Inbox </span></a></li>
    <li><a href="charts.html" class="last"><i class="icon-warning-sign"></i><span>  Graphs & Charts</span></a></li> -->
    <li class="accordion-menu">
        <a href="#collapseOne" data-toggle="collapse" class="accordion-toggle"><i class="icon-signal"></i><span> Maintenance  <i class="icon-chevron-down pull-right"></i></span></a>
        <div class="accordion-body collapse dropdown" id="collapseOne">
            <div class="accordion-inner">
                <ul class="nav nav-list">
                  
                    <li><%= link_to "Agent", branch_agents_path(current_branch)  %></li>
                    <li><%= link_to "Topup Credit", topup_credits_path  %></li>
                    <li><%= link_to "Departure", departures_path  %></li>
                   
                </ul>
            </div>
        </div>
    </li>

     <li class="accordion-menu">
        <a href="#collapseTwo" data-toggle="collapse" class="accordion-toggle"><i class="icon-signal"></i><span> System  <i class="icon-chevron-down pull-right"></i></span></a>
        <div class="accordion-body collapse dropdown" id="collapseTwo">
            <div class="accordion-inner">
                <ul class="nav nav-list">
                  <li><%= link_to "Orders", orders_path  %></li>
                </ul>
            </div>
        </div>
    </li>


