<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Maniadmin | Fluid design | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Maniadmin">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <!--  styles -->
         <!-- bootstrap css -->
        <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
         <!-- base css -->
        <!-- <link href="css/base.css" rel="stylesheet"> -->
         <!-- login page css -->
        <!-- <link href="css/login.css" rel="stylesheet"> -->
        <%= include_css :bundle => 'login' %>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- fav and touch icons -->
    </head>
    <body>
         <div class="container">
                     <%= yield %>
        
         </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%= include_js :jquery, :jquery_ui, :bundle => %w[login] %>

        <script type="text/javascript">
            $('.note a').click(function(){
                $('.singup').toggle(1000);
                $('.singin').toggle(1000);


            });

            <% if flash[:error] %>
                alert("<%= flash[:error] %>");

            <% end %>

        </script>    
    </body>
</html>
